### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [44]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "02-Homework_04-Pandas_Instructions_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "02-Homework_04-Pandas_Instructions_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [45]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [46]:
#Calculate total schools
total_schools = school_data['School ID'].count()

total_schools

15

In [47]:
#total students
total_students = school_data['size'].sum()

total_students

39170

In [48]:
#total budget
total_budget = school_data['budget'].sum()

total_budget

24649428

In [49]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [50]:
#calculate average maths score
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [51]:
#calculate average reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [52]:
#calculate % of students with a passing maths score (>=70)
pass_rate_math = student_data.loc[student_data['math_score']>=70]
pass_rate_math 
pass_rate_math_perc = len(pass_rate_math)/ total_students * 100
pass_rate_math_perc

74.9808526933878

In [53]:
#calculate % of students with a passing reading score (>=70)
pass_rate_reading = student_data.loc[student_data['reading_score']>=70]
pass_rate_reading 
pass_rate_reading_perc = len(pass_rate_reading)/ total_students * 100
pass_rate_reading_perc

85.80546336482001

In [54]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
# Overall Passing Rate (Average of the above two)
overall_pass = (pass_rate_reading_perc + pass_rate_math_perc)/2
overall_pass

80.39315802910392

In [55]:
schools_district_summary = {"Total Schools":total_schools, "Total Students":total_students, "Total Budget":total_budget, "Average Maths Score":average_math_score, "Average Reading Score":average_reading_score, "Maths Passing Rate(%)":pass_rate_math_perc, "Reading Passing Rate(%)":pass_rate_reading_perc, "Overall Pass Rate(%)":overall_pass}

district_summary_df = pd.DataFrame([schools_district_summary])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,Maths Passing Rate(%),Reading Passing Rate(%),Overall Pass Rate(%)
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [56]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [74]:
#rename "school_name" in school_data to school

school_data.rename({"school_name": "school"}, axis=1, inplace=True)

In [75]:
school_data.columns

Index(['School ID', 'Student's School', 'type', 'size', 'budget'], dtype='object')

In [76]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [57]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [58]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [59]:
#Determine School Name
school_name = school_data_complete.groupby(["school_name"])

In [60]:
#Determine School Type
school_type = school_data_complete["type"].unique()
school_type

array(['District', 'Charter'], dtype=object)

In [61]:
#Determine Total Students
total_students = school_name["Student ID"].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [62]:
#Determine School's Total Budget
school_budget = school_name["budget"].sum()
school_budget

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [63]:
#Determine School's Budget per Student
schools_budget_per_student = school_budget/total_students
schools_budget_per_student

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [64]:
#Determine average maths score

ave_maths_score = school_name["math_score"].mean()
ave_maths_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [65]:
#Determine average reading score
ave_reading_score = school_name["reading_score"].mean()
ave_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [66]:
#Determine school's % passing maths
school_maths_pass_percent = school_data_complete.loc[school_data_complete["math_score"]>=70].groupby('school_name')['Student ID'].count()/ total_students *100
school_maths_pass_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [67]:
#Determine school's % passing reading
school_reading_pass_percent = school_data_complete.loc[school_data_complete["reading_score"]>=70].groupby('school_name')['Student ID'].count()/ total_students *100
school_reading_pass_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [68]:
overall_schools_pass_rate = (school_maths_pass_percent + school_reading_pass_percent)/2
overall_schools_pass_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Student ID, dtype: float64

In [69]:
#**error duplicate axis, both data sets have "school_name"**
school_data = school_data.rename(columns={"school_name": "Student's School"})

In [77]:
school_summary = pd.DataFrame({"School Type":school_type, "Total Students":total_students, "School Budget":school_budget, "Budget (per Student)":schools_budget_per_student, "Average Maths Score":ave_maths_score, "Average Reading Score":ave_reading_score, "Maths Passing Rate":school_maths_pass_percent, "Reading Passing Rate":school_reading_pass_percent,"Overall Pass Rate":overall_schools_pass_rate})
school_summary_df = pd.DataFrame([school_summary])
school_summary_df

ValueError: array length 2 does not match index length 15

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [79]:
top_school_summary = school_summary.sort_values(['Overall Passing Rate'], ascending = [False])
top_school_summary.head

NameError: name 'school_summary' is not defined

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type