### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [84]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "02-Homework_04-Pandas_Instructions_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "02-Homework_04-Pandas_Instructions_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [85]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [86]:
#Calculate total schools
total_schools = school_data['School ID'].count()

total_schools

15

In [87]:
#total students
total_students = school_data['size'].sum()

total_students

39170

In [88]:
#total budget
total_budget = school_data['budget'].sum()

total_budget

24649428

In [89]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [90]:
#calculate average maths score
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [91]:
#calculate average reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [92]:
#calculate % of students with a passing maths score (>=70)
pass_rate_math = student_data.loc[student_data['math_score']>=70]
pass_rate_math 
pass_rate_math_perc = len(pass_rate_math)/ total_students * 100
pass_rate_math_perc

74.9808526933878

In [93]:
#calculate % of students with a passing reading score (>=70)
pass_rate_reading = student_data.loc[student_data['reading_score']>=70]
pass_rate_reading 
pass_rate_reading_perc = len(pass_rate_reading)/ total_students * 100
pass_rate_reading_perc

85.80546336482001

In [94]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
# Overall Passing Rate (Average of the above two)
overall_pass = (pass_rate_reading_perc + pass_rate_math_perc)/2
overall_pass

80.39315802910392

In [95]:
schools_district_summary = {"Total Schools":total_schools, "Total Students":total_students, "Total Budget":total_budget, "Average Maths Score":average_math_score, "Average Reading Score":average_reading_score, "Maths Passing Rate(%)":pass_rate_math_perc, "Reading Passing Rate(%)":pass_rate_reading_perc, "Overall Pass Rate(%)":overall_pass}

district_summary_df = pd.DataFrame([schools_district_summary])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,Maths Passing Rate(%),Reading Passing Rate(%),Overall Pass Rate(%)
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [96]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [97]:
#rename "school_name" in school_data to school

school_data.rename({"school_name": "school"}, axis=1, inplace=True)

In [98]:
school_data.columns

Index(['School ID', 'school', 'type', 'size', 'budget'], dtype='object')

In [99]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [100]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [101]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [102]:
#Determine School Name
school_name = school_data_complete.groupby(["school_name"])

In [103]:
#Determine School Type
#school_type = school_data_complete["type"].unique()
#school_type

In [104]:
school_type = school_data.set_index(["school"])["type"]
school_type

school
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [105]:
#Determine Total Students
total_students = school_name["Student ID"].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [106]:
#Determine School's Total Budget
school_budget = school_data.set_index('school')["budget"]
school_budget

school
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [107]:
#Determine School's Budget per Student
schools_budget_per_student = school_budget/total_students
schools_budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [108]:
#Determine average maths score

ave_maths_score = school_name["math_score"].mean()
ave_maths_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [109]:
#Determine average reading score
ave_reading_score = school_name["reading_score"].mean()
ave_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [110]:
#Determine school's % passing maths
school_maths_pass_percent = school_data_complete.loc[school_data_complete["math_score"]>=70].groupby('school_name')['Student ID'].count()/ total_students *100
school_maths_pass_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [111]:
#Determine school's % passing reading
school_reading_pass_percent = school_data_complete.loc[school_data_complete["reading_score"]>=70].groupby('school_name')['Student ID'].count()/ total_students *100
school_reading_pass_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [112]:
overall_schools_pass_rate = (school_maths_pass_percent + school_reading_pass_percent)/2
overall_schools_pass_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Student ID, dtype: float64

In [113]:
#**error duplicate axis, both data sets have "school_name"**
school_data = school_data.rename(columns={"school_name": "Student's School"})

In [114]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
dtypes: int64(3), object(4)
memory usage: 2.1+ MB

In [115]:
school_summary = pd.DataFrame({"School Type":school_type, "Total Students":total_students, "School Budget":school_budget, "Budget (per Student)":schools_budget_per_student, "Average Maths Score":ave_maths_score, "Average Reading Score":ave_reading_score, "Maths Passing Rate":school_maths_pass_percent, "Reading Passing Rate":school_reading_pass_percent,"Overall Pass Rate":overall_schools_pass_rate})
#school_summary_df = pd.DataFrame([school_summary])
school_summary

,School Type,Total Students,School Budget,Budget (per Student),Average Maths Score,Average Reading Score,Maths Passing Rate,Reading Passing Rate,Overall Pass Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [116]:
top_school_summary = school_summary.sort_values(['Overall Pass Rate'], ascending = False)
top_school_summary.head()

,School Type,Total Students,School Budget,Budget (per Student),Average Maths Score,Average Reading Score,Maths Passing Rate,Reading Passing Rate,Overall Pass Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [117]:
#***Descending Order?***
bottom_school_summary = school_summary.sort_values(['Overall Pass Rate'], ascending =True)
school_summary_result = top_school_summary.tail()
school_summary_result

,School Type,Total Students,School Budget,Budget (per Student),Average Maths Score,Average Reading Score,Maths Passing Rate,Reading Passing Rate,Overall Pass Rate
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [118]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [119]:
#create columns to store average maths score for each grade level by school
maths_9th_grade = school_data_complete.loc[school_data_complete["grade"]== "9th"].groupby("school_name")["math_score"].mean()
maths_9th_grade

maths_10th_grade = school_data_complete.loc[school_data_complete["grade"]== "10th"].groupby("school_name")["math_score"].mean()
maths_10th_grade

maths_11th_grade = school_data_complete.loc[school_data_complete["grade"]== "11th"].groupby("school_name")["math_score"].mean()
maths_11th_grade

maths_12th_grade = school_data_complete.loc[school_data_complete["grade"]== "12th"].groupby("school_name")["math_score"].mean()
maths_12th_grade

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [120]:
# create new dataframe 'maths average by grade'
grade_summary_maths = pd.DataFrame({"9th Grade": maths_9th_grade, "10th Grade": maths_10th_grade, "11th Grade": maths_11th_grade, "12th Grade": maths_12th_grade})
grade_summary_maths

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [121]:
#create columns to store average reading score for each grade level by school

reading_9th_grade = school_data_complete.loc[school_data_complete["grade"]== '9th'].groupby("school_name")["reading_score"].mean()
reading_10th_grade = school_data_complete.loc[school_data_complete["grade"]== '10th'].groupby("school_name")["reading_score"].mean()
reading_11th_grade = school_data_complete.loc[school_data_complete["grade"]== '11th'].groupby("school_name")["reading_score"].mean()
reading_12th_grade = school_data_complete.loc[school_data_complete["grade"]== '12th'].groupby("school_name")["reading_score"].mean()

In [122]:
# create new dataframe 'reading average by grade'

In [123]:
grade_summary_reading = pd.DataFrame({"9th Grade": reading_9th_grade, "10th Grade": reading_10th_grade, "11th Grade":reading_11th_grade, "12th Grade":reading_12th_grade})
grade_summary_reading

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type